/files/.config/colima/
/files/.config/gcloud/
/files/.config/github-copilot/
/files/.config/helm/
/files/.config/iterm2/*
!/files/.config/iterm2/themes/
/files/.config/jgit/
/files/.config/raycast/
/files/.config/tmux/plugins/
/files/.config/zsh/.zcompdump