/files/.config/colima/
/files/.config/gcloud/
/files/.config/github-copilot/
/files/.config/helm/
/files/.config/iterm2/
/files/.config/jgit/
/files/.config/k9s/
/files/.config/raycast/
/files/.config/tmux/plugins/
