#!/usr/bin/env zsh

type command_exists &> /dev/null 2>&1 || source "${HOME}/.shellrc"

alias path='echo -e ${PATH//:/\\n}'
alias vi='vim'
alias cat='bat'
alias top='htop'

alias code-gist='code ${DOTFILES_DIR} ${HOME}/.gitconfig-*'

# brew aliases
if is_macos; then
  alias bcg='brew outdated --greedy'
  alias bcug='brew upgrade --greedy'
  alias bupc='brew bundle check || brew bundle --all --cleanup; brew bundle cleanup -f; brew cleanup --prune=all; brew autoremove; brew upgrade'
fi

# docker
alias docker_cleanup='docker system prune --volumes -f'
alias docker_list='docker ps -a && docker images'
