# file location: ~/.gitignore

.CFUserTextEncoding
.DS_Store
.Trash

.aliases
!.aws/config
.aws/
.awsp
.cache/
.colima/
.config/
.docker/
.gradle/
.idea/
.kube/
.lesshst
.local/
.m2/
.oh-my-zsh/
.p10k.zsh
.sdkman/
.sdkmanrc
.ssh/known_hosts
.ssh/known_hosts.old
.terraform.d/
.testcontainers.properties
.tig_history
.tldrc/
.viminfo
.vimrc
.vscode/
.zcompdump*
.zprofile
.zsh-evalcache/
.zsh_history
.zsh_sessions/
.zshenv
.zshrc
.zshrc.custom
Applications/
Brewfile
Brewfile.lock.json
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
go/
log/*.log
logs
project/
